@import url("reset.css");

body {
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
  padding: 24px 0 0;
}

.site-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.site-title a {
  color: #FF5548;
  text-decoration: none;
}

.site-subtitle {
  color: #a6a6a6;
}

.site-description {
  color: #666;
}

.box-row {
  height: 200px;
  overflow: hidden;
}

section.recent-work {
  margin: 80px 0 40px;
}
