@import url("reset.css");

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  padding: 24px 0 0;
}

.site-header {
  display: flex;
  margin-bottom: 24px;
}

.site-title {
  color: #FF5548;
}

.site-description {
  color: #666;
}
